@import "./includes/reset";
@import "./includes/colors";
@import "./includes/fonts";

* {
  -webkit-user-select: none;
}

a {
  cursor: default;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

html,
body {
  font-family: "Karla";
  font-weight: 400;
  background: $light;

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $black
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid $light;
    background: $dark;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $black;
  }
}


/* text */

h1 {
  font-weight: bold;
  font-size: 24px;
  color: $white;
}


/* container */

.container {
  padding: 183px 0 0 200px;
}


#titlebar {
  position: fixed;
  -webkit-app-region: drag;
  width: 100%;
  height: 37px;
  background: $dark;
}


/* ASIDE SIDEBAR */

aside#sidebar {
  padding-top: 37px + 148px;
  border-right: 1px solid $light;
  z-index: 8;
  width: 200px;
  height: 100vh;
  position: fixed;
  background: $dark;

  .content {
    ul.nav {
      li a {
        display: flex;
        align-items: center;
        color: $grey;
        text-decoration: none;
        padding: 16px 32px;
        transition: all ease 0.2s;

        &:hover,
        &:focus {
          color: $lightgrey;
          background: $light;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-right: 16px;
        }

        span {
          font-family: "Karla";
          font-weight: 400;
          font-size: 16px;
        }

        &.active {
          background: $black;

          svg {
            color: $blue;
          }

          span {
            color: $white;
          }
        }
      }
    }
  }
}


/* NAV TASKBAR */

nav#taskbar {
  border-bottom: 1px solid $light;
  padding: 37px 0 35px 40px;
  z-index: 7;
  width: 100vw;
  position: fixed;
  background: $dark;

  .content {
    margin-left: 200px;

    .rows {
      margin: -16px 0;
    }

    .row {
      display: flex;
      align-items: center;
      margin: 16px 0;

      .item {
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          .inner,
          .outer {
            color: $lightgrey;
          }
        }

        .inner {
          border-radius: 27px;
          padding: 14px 17px;
          font-size: 16px;
          color: $grey;
          background: $light;
          transition: all ease 0.1s;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .outer {
          margin-left: 15px;
          color: $grey;
          transition: all ease 0.1s;
        }
      }

      .item.server {
        cursor: default;

        .inner {
          padding: 14px 22px;
          border: 1px solid transparent;
          display: flex;
          align-items: center;
          color: $white;
          
          &:hover,
          &:focus {
            border: 1px solid $light;
            color: $lightgrey;
            background: $dark;
          }

          .status {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-left: 6px;

            &.online {
              background: $green;
            }

            &.afk {
              background: $yellow;
            }

            &.offline {
              background: $red;
            }
          }
        }
      }
    }
  }
}


/* SESSION */

main#session {
  position: relative;

  .disable {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba($color: $dark, $alpha: 0);
  }

  .contextmenu {
    z-index: 10;
    position: fixed;
    color: $grey;
    padding: 10px 0;
    border-radius: 10px;
    background: $black;

    &.hidden {
      display: none;
    }

    ul {
      li {
        padding: 5px 25px;
        display: flex;
        align-items: center;
        min-width: 200px;

        .name {
          flex: 3;
        }

        .shortcut {
          text-align: right;
          flex: 1;
        }

        &.disabled {
          color: $light;
        }
        
        &:hover:not(.disabled) {
          color: $lightgrey;
          background: $dark;
        }
      }

      hr {
        margin: 8px 25px;
        border: none;
        height: 1px;
        background: $grey;
      }
    }
  }

  .popup {
    z-index: 11;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($color: $dark, $alpha: 0.8);

    &.hidden {
      display: none;
    }

    .wrapper {
      border-radius: 10px;
      padding: 50px;
      border: 1px solid $light;
      background: $dark;

      .title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .back {
          color: $grey;
          transition: all ease 0.1s;
          margin-right: 10px;
          border-radius: 50%;
          padding: 6px 6px 3px 6px;
          background: $black;

          svg {
            width: 18px;
            height: 18px;
          }

          &:hover {
            color: $lightgrey;
            background: $light;
          }
        }
      }

      input {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        user-select: all;
        border: none;
        border-radius: 27px;
        padding: 14px 22px;
        font-size: 16px;
        color: $white;
        background: $black;

        &::placeholder {
          color: $grey;
        }
      }
    }
  }

  .content {
    margin: 40px - 12.5px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;

    .system {
      flex: 1;
      margin: 12.5px;
      margin-top: 0;
      min-width: 250px;

      &.dropping {
        background: $dark;
      }

      .space {
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
      }

      .path {
        z-index: 2;
        position: fixed;
        width: 100%;
        color: $grey;
        padding: 30px 0 20px 0;
        background: $light;
        display: flex;
        align-items: center;

        .back {
          transition: all ease 0.1s;
          margin-right: 10px;
          border-radius: 50%;
          padding: 6px 6px 3px 6px;
          background: $dark;

          svg {
            width: 18px;
            height: 18px;
          }

          &:hover {
            color: $lightgrey;
            background: $black;
          }
        }

        .url {
          transition: all ease 0.1s;
          width: 100%;

          &:hover {
            color: $lightgrey;
          }
        }
      }
    }

    .files {
      margin-top: 80px;

      .file {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        margin: 7px 0;
        background: $dark;
        color: $grey;
        border-radius: 10px;
        border: 1px solid transparent;
        outline: none;

        &:hover {
          color: $lightgrey;
          background: $black;
        }

        &.dropping {
          color: $white;
          border: 1px solid $blue;
        }

        svg {
          width: 16px;
          height: 16px;
          margin-right: 16px;
        }

        .name {
          flex: 3;
          white-space: nowrap;
          overflow-x: hidden;
          overflow-y: hidden;
          height: 17px;
          text-overflow: ellipsis;

          &::-webkit-scrollbar {
            width: 0px;
            display: none;
          }
        }

        .size {
          flex: 1;
          text-align: right;
        }

        .timestamp {
          flex: 1;
          text-align: right;
          margin-left: 10px;
        }
      }
    }
  }
}


/* TERMINAL */

main#terminal {
  .content {
    margin: 40px;

    .cli {
      width: 100%;

      .process {
        .input {
          display: flex;
          align-items: center;

          .host {
            color: $white;
            margin-right: 5px;
            white-space: nowrap;
          }
    
          .dir {
            color: $blue;
            margin-right: 15px;
          }
  
          input.in {
            width: 100%;
            background: none;
            border: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            user-select: all;
            border: none;
            border-radius: 0;
            color: transparent;
            color: $grey;
          }
        }

        .output {
          -webkit-user-select: text;
          color: $grey;
          line-height: 1.3;

          .line {
            -webkit-user-select: inherit;
            margin-top: 5px;

            &.error {
              color: $red;
            }
          }
        }
      }
    }
  }
}


/* LOGIN */

main#login {
  height: 100vh;
  background: $dark;

  .content {
    margin: 0 40px;

    .header {
      display: flex;
      align-items: center;
      margin: 50px 0 0 5px;

      .status {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 15px;

        &.online {
          background: $green;
        }

        &.afk {
          background: $yellow;
        }

        &.offline {
          background: $red;
        }
      }
    }

    .login {
      color: $grey;
      margin: -25px 0;
      padding-top: 40px;

      .row {
        margin: 25px -15px;
        display: flex;

        .input {
          position: relative;
          margin: 0 15px;

          label {
            display: block;
            margin-bottom: 15px;
          }

          input {
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            user-select: all;
            border: none;
            border-radius: 27px;
            padding: 14px 22px;
            font-size: 16px;
            color: $white;
            background: $black;

            &::placeholder {
              color: $grey;
            }
          }

          .tip {
            transition: all ease 0.4s;
            opacity: 0;
            transform: translateY(-10px);
            position: absolute;
            top: 95px;
            right: 0;
            font-size: 14px;

            .highlighted {
              border-bottom: 1px solid $grey;
              padding-bottom: 2px;

              &:hover {
                border-bottom: 1px solid $lightgrey;
                color: $lightgrey;
              }
            }
          }

          &.focussed {
            .tip {
              opacity: 1;
              transform: translateY(0);
            }
          }

          &.port {
            input {
              padding: 14px 26px 14px 22px;
              text-align: right;
              max-width: 23px;

              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            }
          }

          &.password {
            input {
              letter-spacing: 3px;
            }
          }
        }
      }
    }

    .quickactions {
      padding-top: 40px;

      ul {
        li {
          display: flex;
          align-items: center;
          color: $grey;
  
          svg {
            width: 18px;
            height: 18px;
            margin-right: 10px;
          }
  
          span {
            margin-top: 3px;
          }
  
          &:hover {
            color: $lightgrey;
          }
        }
      }
    }
  }
}
