@import "./includes/reset";
@import "./includes/colors";
@import "./includes/fonts";

* {
  -webkit-user-select: none;
}

html,
body {
  font-family: "Karla";
  font-weight: 400;
  background: $light;

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $black;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $light;
  }
}


.container {
  padding: 183px 0 0 200px;
}


#titlebar {
  position: fixed;
  -webkit-app-region: drag;
  width: 100%;
  height: 37px;
  background: $dark;
}


/* ASIDE SIDEBAR */

aside#sidebar {
  padding-top: 37px + 146px;
  z-index: 10;
  width: 200px;
  height: 100vh;
  position: fixed;
  background: $dark;

  .content {
    ul.nav {
      li a {
        display: flex;
        align-items: center;
        color: $grey;
        text-decoration: none;
        padding: 16px 32px;
        transition: all ease 0.2s;

        &:hover {
          color: $lightgrey;
          background: $light;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-right: 16px;
        }

        span {
          font-family: "Karla";
          font-weight: 400;
          font-size: 16px;
        }

        &.active {
          background: $black;

          svg {
            color: $blue;
          }

          span {
            color: $white;
          }
        }
      }
    }
  }
}


/* NAV TASKBAR */

nav#taskbar {
  padding: 37px 0 35px 25px;
  z-index: 9;
  width: 100vw;
  position: fixed;
  background: $dark;

  .content {
    margin-left: 200px;

    .rows {
      margin: -16px 0;
    }

    .row {
      display: flex;
      align-items: center;
      margin: 16px 0;

      .item {
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          .inner,
          .outer {
            color: $lightgrey;
          }
        }

        .inner {
          border-radius: 27px;
          padding: 14px 17px;
          font-size: 16px;
          color: $grey;
          background: $light;
          transition: all ease 0.1s;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        .outer {
          margin-left: 15px;
          color: $grey;
          transition: all ease 0.1s;
        }
      }

      .item.server {
        .inner {
          display: flex;
          align-items: center;
          color: $white;
          
          &:hover {
            color: $lightgrey;
          }

          .status {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-left: 6px;

            &.online {
              background: #25CC40;
            }
          }
        }
      }
    }
  }
}


/* SESSION */

main#session {
  .content {
    margin: 25px - 12.5px;
    display: flex;
    flex-wrap: wrap;

    .system {
      flex: 1;
      margin: 12.5px;
      min-width: 250px;

      .path {
        margin-bottom: 20px;
        color: $grey;
        display: flex;
        align-items: center;

        .back {
          transition: all ease 0.1s;
          margin-right: 10px;
          border-radius: 50%;
          padding: 6px 6px 3px 6px;
          background: $dark;

          svg {
            width: 18px;
            height: 18px;
          }

          &:hover {
            color: $lightgrey;
            background: $black;
          }
        }

        .url {
          transition: all ease 0.1s;
          width: 100%;

          &:hover {
            color: $lightgrey;
          }
        }
      }
    }

    .files {
      // margin: -10px 0;

      .file {
        display: flex;
        align-items: center;
        padding: 7px 20px;
        margin: 10px 0;
        background: $dark;
        color: $grey;
        border-radius: 10px;
        border: 1px solid transparent;
        outline: none;

        &:hover {
          color: $lightgrey;
          background: $black;
        }

        &.dropping {
          color: $white;
          border: 1px solid $blue;
        }

        svg {
          width: 16px;
          height: 16px;
          margin-right: 16px;
        }

        .name {
          flex: 3;
          white-space: nowrap;
          overflow-x: hidden;
          overflow-y: visible;
          text-overflow: ellipsis;

          &::-webkit-scrollbar {
            width: 0px;
            display: none;
          }
        }

        .size {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
}


/* TERMINAL */

main#terminal {
  .content {
    margin: 25px;

    .cli {
      width: 100%;

      .process {
        .input {
          display: flex;
          align-items: center;

          .host {
            color: $white;
            margin-right: 5px;
          }
    
          .dir {
            color: $blue;
            margin-right: 15px;
          }
  
          input.in {
            width: 100%;
            background: none;
            border: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            user-select: all;
            border: none;
            border-radius: 0;
            color: transparent;
            color: $grey;
          }
        }

        .output {
          -webkit-user-select: text;
          color: $grey;
          line-height: 1.3;

          .line {
            -webkit-user-select: inherit;
            margin-top: 5px;

            &.error {
              color: $red;
            }
          }
        }
      }
    }
  }
}
